div.lightgreenbox
{
    background: rgb(34,194,153);
    width: 50px;
    height: 50px;
}
img.redborder
{
    border: 10px solid red;
}
.bold
{
    font-weight: bold;
}
.nav
{
    padding: 10px;
}
.container
{
    display: table;
    width: auto;
}
.row
{
    display: table-row;
    width: auto;
    clear: both;
}
.element
{
    float: left;
    display: table-column;
    width: 200px;
    border: solid black 1px;
}
.obvious
{
    width: 300px;
    height: 300px;
    float: left;
    border: solid black 1px;
    padding: 10px;

}
.redbox
{
    width: 50px;
    height: 50px;
    border: solid 5px red;
}
.clear
{
    clear: both;
}
.smallelement
{
    display: table-cell;
    float: left;
    border: solid black 1px;
    padding: 10px;
    width: 40%;
}






